html, body {

    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7; /*Light Grey*/
    vertical-align: baseline;
    font-family: 'Linden Hill', serif;
    height: 100%;
}

 h1 {

    background: #B31B1B; /*Cornell Red*/
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    width: 100%;
    color: #F7F7F7; /*Light Grey*/
    font-family: 'PT Serif', serif;
}

#button {
    background: #B31B1B;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0;
    float: left;
    width: 100%;
    color: #F7F7F7; /*Light Grey*/
    font-family: 'PT Serif', serif;
}
button {
    float: right;
    font-family: 'PT Serif', serif;
    color: #000000;
    
}

 h2 {

    color: #B31B1B; /*Cornell Red*/
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
    display: inline-block;
}

#dropdownsearch {
    display: none;
}

footer {
    color: #F7F7F7; /*Light Grey*/
    background: #B31B1B; /*Cornell Red*/
    margin-bottom: 0;
    width: 100%;
    padding: 3px;
    font-family: 'Cormorant SC', serif;
    height:134px;
    position:absolute;
    bottom:0;
    left:0;
}


footer p {
    text-align: center;
    margin: 10px;
}

#advsearch {
    text-align: center;
}
   

form {
    margin: auto;
    display: table;
    padding: 20px;
}

.contents {
    min-height:100%;
    position:relative;
}

.page_body {
    padding-bottom:134px; /* Height of the footer element */
    background-size: cover;
}



.nav_bar{
    background: #222222; /*Black*/ 
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0;
    font-family: 'Cormorant SC', serif;
}


.nav_bar  ul {

    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    border-radius: 15px;
}

.nav_bar li {
    float: left;
    border-right: 1px #F7F7F7; /*Light Grey*/


}

.nav_bar li a {
    background-color: #F7F7F7; /*Light Grey*/
    display: block;
    color: #222222; /*Black*/ 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}

.nav_bar li a:hover { 
    color: #F7F7F7; /*Light Grey*/
    background-color: #B31B1B; /*Cornell Red*/
}

#main {
    margin-left: 5px;
}

#desk {
    float: right;
    margin-right: 10px;
    border-radius: 30px;
    margin-top: 8px;
}

#desk li a {
    padding: 14px 14px;

}

    
.logo {
    float: right;
    /*height: 70px;*/
    margin-right: 9px;
}

.bear_logo {
    float: left;
    height: 148px;
    margin-left: 2px;
    margin-top: -38px;
}

#welcome_p, #fields{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 40%;
    background: #E0E0E0;
    border-radius: 50px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#fields{
    float: left;
    margin-left: 3px;
    padding-top: 3px;
}

.forms {
    text-align: center;
    width: 42%;
    background: #00E0E0;
    border-radius: 50px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
}

.g-recaptcha {
    display: inline-block;
}

#intro{
    text-align: left;
    padding: 5%;
    width: 80%;
    background: #E0E0E0;
    border-radius: 50px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.field {
    display: block;
    margin: auto;
    margin-top: 5px; 
}

.error {
    color: red;
}

table {
    width: 80%;
    border: 1px solid #333333;
    color: white;
    background-color: #333333;
    font-family: 'Slabo 27px', serif;
    margin-left: 142px;
}

td {
    width: 100px;
    border-style: solid;
    border: 2px;
    border: 1px solid white;
    height: 50px;
    padding-left: 15px;
}



/*all .gallery stuff pertains to album thumbnails*/
#gallery_thumbnails{
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 350px;
}
.gallery {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin: 5px;
    float: left;
    width: 180px;
}

.gallery:hover {
    display: block;
    margin: auto;
    opacity: 1;
    text-align: center;
    border: 3px solid #777;
}

.gallery img {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    opacity: .5.;
    width: 100%;
    height: auto;
}

/*the follow is for display a selected picture*/
.displayingImages{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid #87CEFA;
    border-radius: 4px;
    width: 50%;
    background-color: white;
}


.albumDisplays{
    display: inline-block;
    margin: auto;
    text-align: center;
}












@media (max-width: 480px) {


    .nav_bar {

        background: transparent;
        padding: 0;
        position: static;

    }

    .nav_bar li{
        float: none;
        border-top: 1px solid #000; 
        border-bottom: 1px solid #000; 

    }


    .nav_bar li a {
        padding: 5px;
    }

    .nav_bar ul{
        display: block;
    }

    .bear_logo {
        display: none;
    }

    #desk {
        display: none;
    }

    #tab {
        display: none;
    }

    #mob {
        float: right;
        margin-right: 10px;
        border-radius: 30px;
        margin-top: -296px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        padding-top: 2%;
    }

   

}

/* between 481 and 768 */ 
@media (min-width: 481px) and (max-width: 768px) { 


    .nav_bar {
        padding: 0;

    }

    .nav_bar li{
        float: none;
        border-top: 1px solid #000; 
        border-bottom: 1px solid #000; 

    }

    .nav_bar li a {
        padding: 5px;
    }

    .nav_bar ul{
        display: block;
    }

    .bear_logo {
        float: left;
        height: 77px;
        margin-left: 2px;
        margin-top: -70px;
}
    
    #main {
        width: 70%;
        margin-left: 15%; 
    } 

    .page_body {
        margin-top: 190px;
    }


    h1 {
        font-size: 24px;
    }

    #desk {
        display: none;
    }

    #tab {
        float: right;
        margin-right: 10px;
        border-radius: 30px;
        margin-top: -302px;
    }

    #mob {
        display: none;
    }

}
/* between 769 and 992 */ 
@media (min-width: 769px) and (max-width: 992px) {

    .bear_logo {
        float: left;
        height: 80px;
        margin-left: 2px;
        margin-top: -90px;
    }

    #desk {
        margin-top: -129px;
    }

    #tab {
        display: none;
    }

    #mob {
        display: none;
    }

    #main {
        margin-left: 9%;
    }

    .nav_bar li a {
        padding: 14px 14px;
    }

}
/* between 993 and 1200 */ 
@media (min-width: 993px) and (max-width: 1200px) {

    #desk {
    margin-top: -129px;
    }

    #tab {
        display: none;
    }

    #mob {
        display: none;
    }
 
}
/* greater than 1201 */ 
@media (min-width: 1201px) {

    #tab {
        display: none;
    }

    #mob {
        display: none;
    }

}

/*following code is for rich text editor styling*/
.font-bold.bold{
    font-weight: bold;
}
#italic{
    font-style: italic;
}
.selected{
    background-color: orange;
}
#openpb{
    margin: 15px;
}
#bold{
    color: black;
    display: inline-block;
}
#italic{
    color: black !important;
    display: inline-block;
}
#link{
    display: inline-block;
}
#textEditor{
    width: 500px;
    height: 80px;
    border: 2px solid #CCC;
    border-radius: 20px;
    overflow: auto;
}
#text{
    border-radius: 20px;
    overflow: auto;
    display: none;
    padding-left: 10px;
}
#controls{
    margin-bottom: 10px;
}