html, body {

    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #9882ee;
    vertical-align: baseline;
}



 h1 {

    color: black; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
    background: #E7CC8F; /*Peach*/
}

 h2 {

    color: black; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
}

footer {
    background: #E7CC8F; /*Peach*/
    color: black; 
    margin-bottom: 0;
    width: 100%;
    padding: 3px;
}

footer p {
    text-align: center;
}
   

form {
    margin: auto;
    display: table;
    padding: 20px;
}


.center {
    text-align: center;
    margin-top: 15px;
}

.center2 {
    text-align: center;
}

.submit {
    margin-left: 10px;
}

.submit2 {
    margin-left: 30px;
}

.field {
    display: block;
    margin: auto;
    margin-top: 5px; 
}

.field2 {
    display: inline-block;
    margin-left: 10px; 
}

.field3 {
    margin-left: 5px; 
}

.checks {
    display: table;
    margin: auto;
    margin-top: 10px;
}

#box{
    margin-top: 10px; 
}

#edit_div {
    margin-top: 30px;
}

#right {
    float: right;
    margin-right: 50px; 
}


.nav_bar{
    background: #000; /*Black*/     
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0;
}


.nav_bar  ul {

    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: table;
}

.nav_bar li {
    float: left;
    border-right: 1px solid #ffffff; /*White*/

}

.nav_bar li a {
    background-color: #E0E0E0; /*Grey*/
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav_bar li a:hover { 
    background-color: antiquewhite;
    color: #000; /*Black*/

}


#welcome_p {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 40%;
    background: #E0E0E0;
    border-radius: 50px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.album_bar {
    padding: 10px;
}


.album_bar  ul {

    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: table;
}

.album_bar li {
    float: left;
    border-right: 1px solid #ffffff; /*White*/

}

.album_bar li a {
    background-color: #E0E0E0; /*Grey*/
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.album_bar li a:hover { 
    background-color: antiquewhite;
    color: #000; /*Black*/

}

.album_bar li a:active { 
    background-color: #000;
    color: #fff; /*Black*/

}

#link_container  ul {

    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: table;
}

#link_container li {
    float: left;
    border-right: 1px solid #ffffff; /*White*/

}

#link_container li a {
    background-color: #E0E0E0; /*Grey*/
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#link_container li a:hover { 
    background-color: antiquewhite;
    color: #000; /*Black*/

}




.imagecontainer {
    margin-top: 10px;
    margin-bottom: 30px; 
}

.picture {
    display: table;
    margin: auto;
    width: 80%;
}

.imagecontainer p {
    background-color: #E7CC8F;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: .2%;
    padding-bottom: .2%;

}

#new-photos {
    width: 200px;
}

.detail_container img{
    width: 95%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.info {
    display: inline-block;
    margin-left: 3%;

}


.error {
    font-size: large;
    letter-spacing: 1px;
}


